.book-info {
  border: 2px solid black;
  display: flex;
  justify-content: column;
  
}

div {
  margin: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.photo {
  position: relative;
  top: 0;
  align-items: right;
}